CREATE TABLE IF NOT EXISTS products ( id UUID DEFAULT uuid_generate_v4() PRIMARY KEY, store_id UUID REFERENCES stores(id) ON DELETE CASCADE, category_id TEXT REFERENCES categories(id), name TEXT NOT NULL, description TEXT, price DECIMAL(10,2) NOT NULL, image_url TEXT, is_promo BOOLEAN DEFAULT false, rating DECIMAL(2,1) DEFAULT 5.0, status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'active', 'suspended')), created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL );
